<div class = 'row'>
  <div class = 'col'>
    <h3>New Image</h3>
  </div>
</div>

<%= simple_form_for(@image) do |form| %>
  <%= form.input(:title) %>
  <%= form.input(:link) %>
  <%= form.button(:submit) %>
<% end %>