<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @image.link %>
</p>

<p>
  <%= image_tag @image.link %>
</p>

<p>
  tags:
  <% @image.tag_list.each do |tag|%>
    <span> | <%= tag %> | </span>
  <% end %>
</p>
