<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @image.link %>
</p>

<p>
  <%= image_tag @image.link %>
</p>

<p>
  tags:
  <% @image.tags.each do |tag|%>
    <%= link_to tag.name, images_path(tag: tag.name), class:'badge badge-success' %>
  <% end %>
</p>
